@model mvcadmin10.Models.Programs

@{
    string str_command = (Model.Id == 0) ? "新增" : "修改";
    ViewData["Title"] = $"資料{str_command}";
    Layout = "_LayoutAdmin";
    var role = new z_sqlRoles();
    var code = new z_sqlCodeDatas();
    var page = new pageSizeModel();
    var CodeList = code.GetDropDownList("Program", true);
    var FormLockList = code.GetDropDownList("FormLock", true);
    var RoleList = role.GetDropDownList(true);
    var PageSizeList = page.PageSizeList;
    CodeList.Where(m => m.Value == Model.CodeNo).ToList().ForEach(m => m.Selected = true);
    RoleList.Where(m => m.Value == Model.RoleNo).ToList().ForEach(m => m.Selected = true);
    FormLockList.Insert(0, new SelectListItem() { Text = "未指定", Value = "", Selected = (Model.Id == 0) });
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal  mt-2">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="row form-group">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelRequiredFor(model => model.PrgNo)
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.PrgNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PrgNo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelRequiredFor(model => model.PrgName)
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.PrgName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PrgName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelRequiredFor(model => model.RoleNo)
                    </div>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.RoleNo, RoleList , new { @class = "form-control selectpicker" , @data_live_search="true" })
                        @Html.ValidationMessageFor(model => model.RoleNo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelRequiredFor(model => model.SortNo)
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.SortNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SortNo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelRequiredFor(model => model.IsEnabled)
                    </div>
                    <div class="col-md-8">
                        @Html.CheckBoxFor(model => model.IsEnabled, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IsEnabled, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelRequiredFor(model => model.IsPageSize)
                    </div>
                    <div class="col-md-8">
                        @Html.CheckBoxFor(model => model.IsPageSize, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IsPageSize, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelRequiredFor(model => model.IsSearch)
                    </div>
                    <div class="col-md-8">
                        @Html.CheckBoxFor(model => model.IsSearch, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IsSearch, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelRequiredFor(model => model.CodeNo)
                    </div>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.CodeNo, CodeList , new { @class = "form-control selectpicker" , @data_live_search = "true" })
                        @Html.ValidationMessageFor(model => model.CodeNo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelRequiredFor(model => model.LockName)
                    </div>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.LockNo, FormLockList , new { @class = "form-control selectpicker" , @data_live_search = "true" })
                        @Html.ValidationMessageFor(model => model.LockNo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelRequiredFor(model => model.AreaName)
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.AreaName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AreaName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        @Html.LabelRequiredFor(model => model.ControllerName)
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ControllerName, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.ControllerName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelRequiredFor(model => model.ActionName)
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ActionName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ActionName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelRequiredFor(model => model.ParmValue)
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ParmValue, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ParmValue, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        @Html.LabelRequiredFor(model => model.Remark)
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        
        @await Html.PartialAsync("_PartialFormSubmit")
    </div>
}