@model IEnumerable<mvcadmin10.Models.LogCodes>

@{
    ViewData["Title"] = SessionService.PrgName;
    Layout = "_LayoutAdmin";
    var value = TempData.Get<FormSecurity>("FormSecurity");
}

@await Html.PartialAsync("_PartialFormHeader")
<div class="table-responsive">
    <table class="table table-bordered mb-0">
        <thead class="table-secondary">
            <tr>
                @if (value.IsAddEditDelete)
                {
                    <th>
                        @await Html.PartialAsync("_PartialFormCreate")
                    </th>
                }
                <th class="fixedcolumn">
                    @Html.DisplayNameSortFor(model => model.CodeNo)
                </th>
                <th>
                    @Html.DisplayNameSortFor(model => model.CodeName)
                </th>
                <th>
                    @Html.DisplayNameSortFor(model => model.LogLevel)
                </th>
                <th>
                    @Html.DisplayNameSortFor(model => model.LogInterval)
                </th>
                <th>
                    @Html.DisplayNameSortFor(model => model.Remark)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                SessionService.RowId = item.Id;
                SessionService.RowData = $"{item.CodeNo} {item.CodeName}";
                <tr>
                    @if (value.IsAddEditDelete)
                    {
                        <td>
                            @await Html.PartialAsync("_PartialFormEdit")
                            @await Html.PartialAsync("_PartialFormDelete")
                        </td>
                    }
                    <td class="fixedcolumn fixedcolumn-data">
                        @Html.DisplayFor(modelItem => item.CodeNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LogLevel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LogInterval)
                    </td>
                    <td class="table-wrap">
                        @Html.DisplayFor(modelItem => item.Remark)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>