@model mvcadmin10.Models.vmUINVP001_Inventory
@{
    var value = TempData.Get<FormSecurity>("FormSecurity");
    bool bln_visible = true;
    if (!AppService.DebugMode && !value.IsAddEditDelete) bln_visible = false;
    if (SessionService.IsReadonlyMode || SessionService.IsFormLocked || SessionService.IsConfirm || SessionService.IsCancel)
        bln_visible = false;
}

<table class="table table-bordered mb-0">
    <thead class="table-secondary">
        <tr>
            @if (bln_visible)
            {
                <th>
                    @await Html.PartialAsync("_PartialFormCreate")
                </th>
            }
            <th class="fixedcolumn">
                @Html.DisplayNameSortFor(model => model.DetailModel.FirstOrDefault().ProductNo)
            </th>
            <th>
                @Html.DisplayNameSortFor(model => model.DetailModel.FirstOrDefault().ProdName)
            </th>
            <th>
                @Html.DisplayNameSortFor(model => model.DetailModel.FirstOrDefault().Qty)
            </th>
            <th>
                @Html.DisplayNameSortFor(model => model.DetailModel.FirstOrDefault().Remark)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DetailModel)
        {
            SessionService.RowId = item.Id;
            SessionService.RowData = $"{item.ProductNo} {item.ProdName}";
            <tr>
                @if (bln_visible)
                {
                    <td>
                        @await Html.PartialAsync("_PartialFormEdit")
                        @await Html.PartialAsync("_PartialFormDelete")
                    </td>
                }
                <td class="fixedcolumn fixedcolumn-data">
                    @Html.DisplayFor(modelItem => item.ProductNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProdName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qty)
                </td>
                <td class="table-wrap">
                    @Html.DisplayFor(modelItem => item.Remark)
                </td>
            </tr>
        }
    </tbody>
</table>