@model mvcadmin10.Models.FormLocks

@{
    string str_command = (Model.Id == 0) ? "新增" : "修改";
    ViewData["Title"] = $"資料{str_command}";
    Layout = "_LayoutAdmin";
    var code = new z_sqlCodeDatas();
    var FormLockList = code.GetDropDownList("FormLock", true);
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal  mt-2">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="row form-group">
            <div class="col-md-2">
                @Html.LabelRequiredFor(model => model.LockNo)
            </div>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.LockNo, FormLockList , new { @class = "form-control selectpicker" ,
                @data_live_search = "true" } )
            @Html.ValidationMessageFor(model => model.LockNo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-2">
            @Html.LabelRequiredFor(model => model.LockDate)
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.LockDate, new { htmlAttributes = new { @class = "form-control datepicker" ,
                        @type = "text" } })
            @Html.ValidationMessageFor(model => model.LockDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-2">
            @Html.LabelRequiredFor(model => model.Remark)
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
        </div>
    </div>
    @await Html.PartialAsync("_PartialFormSubmit")
</div>
}