@model IEnumerable<mvcadmin10.Models.Warehouses>

@{
    ViewData["Title"] = "資料列表";
    Layout = "_LayoutAdmin";
}
<div class="row mx-1">
    <div class="col-md-12">
        <div class="float-start">@await Html.PartialAsync("_PartialFormPage")</div>
        <div class="float-end">@await Html.PartialAsync("_PartialFormSearch")</div>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-bordered mb-0">
        <thead class="table-secondary">
            <tr>
                <th>
                    選取
                </th>
                <th class="fixedcolumn">
                    @Html.DisplayNameSortFor(model => model.WarehouseNo)
                </th>
                <th>
                    @Html.DisplayNameSortFor(model => model.WarehouseName)
                </th>
                <th>
                    @Html.DisplayNameSortFor(model => model.Qty)
                </th>
                <th>
                    @Html.DisplayNameSortFor(model => model.Remark)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                SessionService.RowId = item.Id;
                SessionService.RowData = $"{item.WarehouseNo} {item.WarehouseName}";
                <tr>
                    <td>
                        @await Html.PartialAsync("_PartialFormSelect")
                    </td>
                    <td class="fixedcolumn fixedcolumn-data">
                        @Html.DisplayFor(modelItem => item.WarehouseNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WarehouseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Qty)
                    </td>
                    <td class="table-wrap">
                        @Html.DisplayFor(modelItem => item.Remark)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>